$gold : gold;
$white : #ffffff;
$black : #000000;
$header-bg : #f1f1f1;
$gray : #f8f7f7;
$darkgray : #7e8084;
$buttons-color: #f05a28;
$buttons-color-hover:#f82c0b;
$green: #89c53f;
$green-hover: #85da1b;
$blue : #23b5e0;
$orange : #f05a28;
$accordion-text : #232832;
$accordion-text-inner : #7b7d81;
$green-button : #89c53f;
$green-button-hover : #85da1b;
$table-gray : #f9f9f9;
$table-border : #f8f7f7;