.reserved{
	width: 230px;
	outline: 1px solid #000;
	min-height: 3000px;
	float: left;
	margin-right: 20px;
}
.info__company-wrap{
	display: block;	
	line-height: 24px;
	margin-right: 320px;
	@include clearfix();
}
.about__company{
	&-nav{
		width: 300px;
		padding: 6px 18px;
		background: #f8f7f7;
		float: right;
		@include font-size(21px);
		line-height: 37px;
		color: $accordion-text-inner;
	}
	&-link{
		margin-left: 13px;
		@include transition(.8s);
		&:hover{
			color: #232832;
		}
		&--main{
			margin-left: 0;
		}
		&--active{
			font-weight: 600;
			color: $accordion-text;
		}
	}
}	
.__company-dscr{
	margin-bottom: 13px;
}
.__company-dscr-l{
	margin-left: 15px;
}
.company-title{
	font-family: 'pt_sansbold', sans-serif;
	margin-bottom: 15px;
	@include font-size(35px);
}
.__company-dscr{
	&-mdash{
		position: relative;
		&:before{
			content: '\2014';
			position: absolute;
			left: -20px;
		}
	}
}
@include breakpoint(1100px){
	.catalog-content-wrap{
		padding-right: 20px;
	}
	.about__company-nav{
		display: block !important;
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	.info__company-wrap{
		margin-right: 0;
	}
}