.basket-wrap{
	background: #ffffff;
}
.__title_basket{
	margin-bottom: 13px;
}
.basket__btn-group{
	padding-right: 40px;
	text-align: right;
}
.basket__total{
	text-align: right;
    padding-right: 45px;
    margin-bottom: 25px;
}
.dissable-product{
	display: block;
	padding: 15px 10px;
	text-align: center;
	span {
		display: inline-block;
		background: url('../img/icons/delete.svg') center center no-repeat;
		width: 14px;
		height: 13px;
	}
	#del_button{
		width: 14px;
		height: 14px;
		@include transition(0.5s);

	}
	&:hover {
		#del_button {
			fill: #f05a28 !important;
		}
	}

}
.basket {
	tr:not([class='caption']):hover{
        border-bottom: 2px solid #f05a28;
        .name-product{
        	font-weight: 600;
        }
	}
}