// -------------------------------------Accordion------------------------
.accordion-wrap{
	float: left;
	width: 230px;
	padding-top: 3px;
    padding-left: 10px;
}
.catalog-content-wrap{
	// float:right;
	margin-left: 250px;
}
.__title_catalog{
	margin-bottom: 4px !important;
}
// ------------Стили аккордеона
.accordion{
	&__list{
		@include font-size(14px);
	}
	&__item{
		margin-bottom: 15px;
		max-width: 170px;
	}
	&__link{
		display: block;
		position: relative;
		color: $accordion-text;
		//------------- Стрелка ---------
		&:after{
			content: "";
			position: absolute;
			top: 2px;
			right: -32px;
			background: url(../img/icons/arrow_list-down.svg) 50%;
			width: 17px;
			height: 10px;
			background-size: cover;
		}
		&_news{
			color: $blue;
		}
		&_discount{
			color: $orange;
		}
	}
	// Стилизация активного елемента аккордеона
	&__link_active{
		display: block;
		position: relative;
		font-family: 'pt_sansbold';
		// Стрелка активная
		&:after{
			content: "";
			position: absolute;
			top: 2px;
			right: -32px;
			background: url(../img/icons/arrow_list-up.svg) 50%;
			width: 17px;
			height: 10px;
			background-size: cover;
		}
	}
	// ---------------------------
}
.accordion-item{
	&__list{
		margin-top: 13px;
		margin-left: 15px;
	}
	&__item{
		margin-bottom: 15px;
	}
	&__link{
		color: $accordion-text-inner;
	}
	&__link:hover{
		color: $accordion-text;
	}
}
// --------------------------------------------------------
// ------------------------------------------Стили для сортировки-----------------------
.sort{
	@include clearfix;
	@include font-size(14px);
	overflow: hidden;
	padding: 0 20px;
	height: 50px;
	background: $header-bg;
	margin-bottom: 21px;
	// Запрет выдиления
	-webkit-user-select: none;
	-moz-user-select: none;
}
.sort__group{
	@include vertical-align();
	float:left;
}
.grouping{
	&__list{
		display: inline-block;
	}
	&__item{
		display: inline-block;
		margin-left: 30px;
	}
}
.sort-text{
	display:inline-block;
}
.input-radio, 
.input-checkbox{
	display: none;
}
.radio-label{
	position: relative;
	cursor: pointer;
}
input:checked + .radio-label{
	color:$orange;
	font-family: 'pt_sansbold';
}
input:checked + .radio-label:after{
		content: '';
		position: absolute;
		background: url(../img/icons/arrow_filtr.svg) 50%;
		background-size:cover;
		width: 6px;
		height: 13px;
		right: -8px;
		top: 1px;
}
// Стили для чекбоксов в сортировке
.news-discount{
	&__list{
		float: left;
	}
	&__item{
		display: inline-block;
		margin-right: 55px;
	}
}
.checkbox-label{
	cursor:pointer;
	position: relative;
}
.checkbox-label:before{
	content:'';
	position: absolute;
	width: 20px;
	height: 20px;
	top:0;
	left:-30px;
	background: url(../img/icons/check.png) 50%;
	background-size:cover;

}
.checkbox-label:hover:before{
	content:'';
	position: absolute;
	width: 20px;
	height: 20px;
	top:0;
	left:-30px;
	opacity: .5;
	background: url(../img/icons/checked.png) 50%;
	background-size:cover;
}
input:checked + .checkbox-label{
	font-family: 'pt_sansbold';
}
input:checked + .checkbox-label:before{
	content:'';
	position: absolute;
	width: 20px;
	height: 20px;
	top:0;
	left:-30px;
	background: url(../img/icons/checked.png) 50%;
	background-size:cover;
}	
.sort__news-views{
	@include vertical-align();
	@include clearfix;
	float:right;
}
.filter-view{
	float:left;
}
.filter-view__list{
	@include clearfix();
	display:inline-block;
	vertical-align:middle;
	font-size:0;
}
.filter-view__item{
	vertical-align: middle;
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}
.filter-view__link{
	display:block;
	position:relative;
	outline:none;
	width:20px;
	height:20px;
	cursor:pointer;
}
.filter-view__icon{
	margin:0 auto;
	@include vertical-align();
}
.filter-view-blocks{
	background: url(../img/icons/view-blocks.png);
	width: 20px;
	height: 20px;
	&:hover{
		background: url(../img/icons/view-blocks-hover.png);
	}
}
.filter-view-blocks_active{
	background: url(../img/icons/view-blocks-hover.png);
}  
.filter-view-line{
	background: url(../img/icons/view-line.png);
	width: 20px;
	height: 20px;
	&:hover{
		background: url(../img/icons/view-line-hover.png);
	}
}
.filter-view-line_active{
	background: url(../img/icons/view-line-hover.png);
} 
		// ------------------------Медиа для сортировки ----------------------------
		@include desktop{
			.sort{
				height:auto;
			}
			.sort__group{
				top:0;
				-webkit-transform: none; 
				transform: none; 
				float:none;
				margin: 10px auto;
				text-align: center;
			}
			.sort__news-views{
				top:0;
				-webkit-transform: none; 
				transform: none;
				float:none; 
				margin: 10px auto;
				text-align: center;
			}
			.news-discount__list{
				float: none;
				display: inline-block;
			}
			.filter-view{
				float: none;
				display: inline-block;
			}
		}
		@include breakpoint(760px){
			.news-discount__list{
				float: none !important;
				display:block !important;
				margin-bottom: 15px !important;
			}
			.news-discount__item{
				margin-left: 30px !important;
				margin-right: 0px !important;
			}
			.filter-view{
				float: none!important;
				display:block!important;
				margin-bottom: 15px!important;
			}
		}
		@include breakpoint(682px){
			.sort-text{
				margin-bottom: 15px!important;
			}
			.grouping__list{
				display: block!important;
			}
			.grouping__item{
				display: block!important;
				margin-bottom: 5px !important;
				margin-left: 0 !important;
			}
		}
		@include breakpoint(500px){
			.news-discount__item{
				display: block;
				text-align: center;
				margin-bottom: 15px;
			}
			.sort-text{
				display: block;
			}
			.filter-view__item{
				display: block;
				margin-bottom: 20px;
			}
		}
// ------------------------------------------------------------------------------
.catalog-wrap {
	margin: 0;
	padding: 0;
	text-align: justify;
}
.catalog-block-style{
	.catalog-product-wrap {
		@include border-radius(3px);
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
		background: #fff;
		display: inline-block;
		// width: 220px;
		.product-image-wrap{
			border-bottom: 2px solid #F8F7F7;
			padding: 15px 10px;
		}
		.product-image{
			display: block;
			margin: 0 auto;
		}
	}
	.product-text-wrap {
		padding: 25px 10px;
		font-size: 14px;
		.product-title {
			display: inline-block;
			font-weight: 600;
			color: #000;
			margin-bottom: 5px;
		}
		.product-text {
			color: #7e8084;
		}
	}
	.product-price-line-wrap {
		padding: 0 10px;
	}
	.product-price-wrap {
		display: inline-block;
		.product-price {
			display: inline-block;
			font-size: 21px;
			font-weight: 600;

		}
		.product-price-per {
			display: inline-block;
			font-size: 16px;
		}

	}
	.product-note {
		display: inline-block;
	}
	.product-note_expected{
		color: #FFCB83;
		&:before {
			display: inline-block;
			content: ' ';
			width: 9px;
			height: 9px;
			background: #FFCB83;
			margin-right: 4px;
			@include border-radius(50%);
		}
	}
	.product-note_available{
		color: #89c53f;
		&:before {
			display: inline-block;
			content: ' ';
			width: 9px;
			height: 9px;
			background: #89c53f;
			margin-right: 4px;
			@include border-radius(50%);
		}
	}
	.product-note_expected{
		color: #FFCB83;
		&:before {
			display: inline-block;
			content: ' ';
			width: 9px;
			height: 9px;
			background: #FFCB83;
			margin-right: 4px;
			@include border-radius(50%);
		}
	}
	.product-order-wrap {
		padding: 0 10px;
		font-size: 14px;
	}
	.product-amount-wrap{
		display: inline-block;
		font-family: 'pt_sansbold';
		font-weight: 600;
	}
	.product-add{
		display: inline-block;
		font-family: 'pt_sansbold';
		font-weight: 600;
		color: #fff;
		padding: 10px;
		background: #85da1b;
		@include border-radius(2px);
	}

}