.feedback-form{
	@include clearfix();
	padding: 20px;
	min-height: 380px;
	max-width: 620px;
	background: $gray;
}
.message-are,
.name-are,
.company-are{
	border: 1px solid #d7d8d8;
	padding: 7px;
	outline: none;
	@include border-radius(2px);
	&:hover{
		border: 1px solid #989b9f;
	}
}
.name-are,
.company-are{
	width: 280px;
	height: 40px;
	margin-bottom: 20px;
}
.name-are{
	margin-right: 15px;
}
.message-are{
	width: 580px;
	height: 100px;
	margin-bottom: 20px;
	resize: none;
}
.feedback-title{
	font-family: 'pt_sansbold', sans-serif;
	@include font-size(21px);
	margin-bottom: 17px;
}
.capture{
	float: left;
	width: 280px;
	height: 70px;
	margin-bottom: 20px;
	border: 1px solid #000;
	text-align: center;
	line-height: 68px;
}
.submit-btn{
	float: right;
	background: none;
	border: 1px solid #89c53f;
	padding: 10px 20px;
	color: #89c53f;
	@include transition(.8s);
	@include border-radius(2px);
	font-family: 'pt_sansbold', sans-serif;
	&:hover{
		color: #fff;
		background: #89c53f;
	}
}
.feedback-name{
	margin: 20px 0 13px 0;
	font-family: 'pt_sansbold', sans-serif;
}
.feedbacks-wrap{
	margin-bottom: 20px;
}
.feedback-item{
	border-bottom: 2px solid $gray;
}
.feedback-company{
	margin-bottom: 13px;
	display: block;
	color: #232832;
	@include opacity(.7);
}
.feedback-message{
	margin-bottom: 15px;
}
.gallery-wrap{
	width: 940px;
	max-height: 285px;
	margin-bottom: 75px;
	float: left;
	background: $gray;
	@include clearfix();
	padding: 20px 20px 70px 20px;
}
.slick-prev{
	background: url("../img/icons/arrow_left-gr.svg");
	background-repeat: no-repeat;
	top: 191px;
	left: 814px;
    width: 30px;
    height: 28px;
	&:hover{
		background: url("../img/icons/arrow_left-or.svg");
		background-repeat: no-repeat;
	}
	&:before{
		content: '';
	}
}
.slick-next{
	background: url("../img/icons/arrow_right-gr.svg");
	background-repeat: no-repeat;
	top: 191px;
	left: 857px;
    width: 30px;
    height: 28px;
	&:hover{
		background: url("../img/icons/arrow_right-or.svg");
		background-repeat: no-repeat;
	}
	&:before{
		content: '';
	}
}
.link-news-preview--large{
	width: 100% !important;
	max-width: 162px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	&:last-child{
		margin-right: 0 !important; 
	}
}

