// ------------------------------------------------------Стили футера---------------------------------------------------
.footer{
	padding: 15px 20px 0;
	background: #f1f1f1;
	min-width: 1240px;

	// font-size: 16px;
	@include font-size(16px);
	font-family: 'pt_sansregular', serif;
}
.footer__logo-contacts{
	float: left;
}
.footer__logo-wrap{
	float: left;
	margin-right: 45px;
}
.footer__contacts-wrap{
	float: left;
	margin-top: -3px;
}
.contact-list__phone-wrap{
	text-align: left;
}
.contact-list__phone_shorter,
.contact-list__addr,
.contact-list__phone,
.contact-list__work-time
{
	display: block;
	line-height: 26px;
}
.contact-list__phone_shorter{
	margin-left: 40px;
}
.footer__nav-soc{
	float: left;
	position: relative;
	margin-left: 54px;
	@include clearfix;
}
.footer__nav-wrap{
	float: right;
	margin-bottom: 93px;
}
.footer__nav-item{
	display: inline-block;
	margin-right: 30px;
	&:last-child{
		margin-right: 0;
	}
}
.footer__nav-link{
	text-transform: uppercase;
	color: #232832;
	@include opacity(.7);
	font-family: 'pt_sansbold';
	transition: .25s;
	&:hover{
		color: #232832;
		@include opacity(1);
	}
}
.soc__yt{
	margin-right: 25px;
}
.soc__yt,
.soc__like{
	float: left;
}
.social__link{
	display: block;
	width: 23px;
	height: 28px;
}
.social__item{
	display: inline-block;
	vertical-align: bottom;
}
.soc__yt-title{
	display: block;
	margin-bottom: 5px;
}
.soc__like-title{
	display: block;
	margin-bottom: 9px;
}
.contact-list__addr{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background: url(../img/icons/marker_footer.svg);
		background-repeat: no-repeat;
		width: 9px;
		height: 13px;
		top: 4px;
		left: -19px;
	}
}
.contact-list__phone{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background: url(../img/icons/phone_footer.svg);
		background-repeat: no-repeat;
		width: 12px;
		height: 12px;
		top: 6px;
		left: -20px;
	}
}
.contact-list__work-time{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background: url(../img/icons/time_footer.svg);
		background-repeat: no-repeat;
		width: 13px;
		height: 13px;
		top: 4px;
		left: -19px;
	}
}
.producted__by{
	display: block;
	position: absolute;
	bottom: 11px;
	right: 11px;
}
// Index Media

@include breakpoint(800px){
	.slider-content-wrap{
		background: url('../img/slider_main_page_tablet.jpg') cover !important;
		height: auto !important;
		.pre-slider-title{
			font-size: 40px !important;
		}
		.slider-title{
			font-size: 60px !important;
		}
	}
}
@include breakpoint(550px){
	.slider-content-wrap{
		background: url('../img/slider_main_page_mobile.jpg') cover !important;
	}
	.pre-slider-title{
		font-size: 30px !important;
	}
	.slider-title{
		font-size: 45px !important;
	}
}
// ---------------------------------------------Медиа запросы-----------------------------------------
@include small-tablets-h{;
	// Схлоппывание блока новостей
	.news__item{
		width: 100%!important;

	}
	// ---------------------------
	.assort__item{
		height: 200px!important;
		width: 48% !important;
		&_small{

		}
	.assort__link{
    	max-height: 200px;
	}
	.assort__link_small{
    	max-height: 200px;
	}
	}
}
@include small-tablets{
	// Шрифт
	.assort-dscr{
		@include font-size(18px);
	}
	.assort__item{
		height: 150px!important;
		width: 48% !important;
	}
	.assort__link{
		max-height: 150px !important;
	}

}
@include mobile{
	.assort-dscr{
		@include font-size(16px);
	}
	.assort__item{
		height: 100px!important;
		width: 48% !important;
	}
	.assort__link{
		max-height: 100px !important ;
	}
}
@include breakpoint(400px){
	.assort-dscr{
		@include font-size(18px);
	}
	.assort__item{
		height: 80px!important;
		width: 100% !important;
	}
	.assort__link{
		max-height: 80px !important ;
	}
}