.formalization__order{
	background: #fff;
	padding-bottom: 80px;
}
.formalization__order-title{
	margin-bottom: 30px;
}
.formalization__number-wrap,
.formalization__cost-wrap{
	display: inline-block;
	line-height: 40px;
}
.formalization__number-wrap{
	margin-right: 26px;
}
.formalization__title,
.formalization__number{
	font-size: 21px;
}
.formalization__number{
	font-family: 'pt_sansbold', sans-serif;
}
.formalization__cost-wrap{
	margin-bottom: 30px;
}
