.tab-and-nav__wrap{
	@include clearfix();
	margin-bottom:20px;
}
.tab-zakaz{
	&__list{

	}
	&__item{
		display: inline-block;
		margin-right: 30px;
	}
	&__link{
		@include font-size(14px);
		border-bottom: 2px $darkgray dotted;
		transition: .5s;
		color: $darkgray;
	}
	&__link:hover{
		color: $black;
	}
	&__link_active{
		font-weight: 600;
		border:none;
		color: $black;
	}
}