//--------------------------------------Cлайдер главной страницы-------------------------------------------

.carousel-wrap {
	max-width: 1240px;
	max-height: 400px;
	margin: 0 auto;
	position: relative;
    margin-bottom: 60px;
    visibility: hidden; 
    @include opacity(0);
    @include transition(3s);
	.owl-nav{
		position: absolute;
		top:50%;
		left: 0;
		width: 100%;
		text-align: justify;
	}

	.owl-prev{
		display: inline-block;
		background: url('../img/icons/arrow_left.svg');
		width: 30px;
		height: 30px;
		position: absolute;
		left: 30px;
	}
	.owl-next{
		display: inline-block;
		background: url('../img/icons/arrow_right.svg');
		width: 30px;
		height: 30px;
		position: absolute;
		right: 30px;
	}
	.owl-next,
	.owl-prev,
	.owl-dot{
		@include opacity(1);
	}
	.owl-next:hover,
	.owl-prev:hover,
	.owl-dot:hover{
		@include opacity(0.5);
		@include transition(.25s);
	}
	.owl-dots {
		position: absolute;
		width: 100%;
		text-align: center;
	    bottom: 14px;

		.active {
			width: 12px;
			height: 12px;
			background: white;
			@include border-radius(50%);
			border: none;
		}

	}
	.owl-dot {
		float:none;
	    margin-right: 20px;
	    width: 12px;
	    height: 12px;
	    border: 2px solid #fff;
	    border-radius: 50%;
	    background-clip: padding-box;
	    display: inline-block;
	}

	.slider-content-wrap {
		width: 100%;
		height: 400px;
		background: url('../img/slider_main_page.jpg') no-repeat center center;
		background-size: cover;
		padding: 40px 20px 40px;
		text-align: center;
		.slider-title-wrap {
			color: #ffffff;
			text-align: center;
			.pre-slider-title{
				@include font-size(56px);
				// line-height: 0.86;
			}
			.slider-title{
				@include font-size(98px);

			}
		}
		.slider-details {
			margin: 40px 0;
			font-family: 'pt_sansbold';
			display: inline-block;
			text-align: center;
			color: #ffffff;
			border: 1px solid white;
			@include border-radius(3px);
			padding: 12px 20px;
		}
		.slider-details:hover {
			@include opacity(0.7);
			@include transition(.25s);
		}
	}
}

@include breakpoint(800px){
	.slider-content-wrap{
		background: url('../img/slider_main_page_tablet.jpg') cover !important;
		height: auto !important;
		.pre-slider-title{
			font-size: 40px !important;
		}
		.slider-title{
			font-size: 60px !important;
		}
	}
}
@include breakpoint(550px){
	.slider-content-wrap{
		background: url('../img/slider_main_page_mobile.jpg') cover !important;
	}
	.pre-slider-title{
		font-size: 30px !important;
	}
	.slider-title{
		font-size: 45px !important;
	}
}

// ------------------------------------------Блок с ассортиментом товаров на сайте-----------------------
.assort{
	background: $gray;
	&__wrap{

	}
	&__list{
		width: 100%;
		display: inline-block;
		text-align: justify;
	}
	&__list:last-child:after{
		content: '';
		width: 100%;
		display: inline-block;
		line-height: 0;
		height: 1px;
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		// width: 40%;
		width: 38.98%;
		height: 18.6%;
		margin-bottom: 20px;
		overflow: hidden;
		@include border-radius(3px);
		overflow: hidden;
	}
	&__item_small{
		width: 18.6%;
	}
	&__link{
		@include border-radius(3px);
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
		overflow: hidden;
		@include transition(.50s);
	}
	&__link img{
		
		width: 100%;
		height: auto;
	}
	&__image{
		@include transition(.50s);
		display: block;
	}
	&-dscr{
		position: absolute;
		left:20px;
		top:50%;
		@include transform(translateY(-50%));	
		max-width: 175px;
		@include font-size(21px);
		font-family: 'pt_sansbold';
		text-align: left;
		z-index: 2;

	}
	//----------------- Анимация при наведении на Название асортимента-------------------------------------
	&__link:hover > .assort__image{
		@include transform(scale(1.1));
	}
}

// ----------------------===========--------------Блок новостей---------------------------=======----------
.news{
	padding: 53px 0 56px;
	background: #ffffff;
}
.news__title{
	@include font-size(35px);
	font-family: 'pt_sansbold';
	margin-bottom: 7px;
	white-space: nowrap;
   	overflow: hidden;
    text-overflow: ellipsis;
}
.news__list{
	width: 100%;
	display: inline-block;
	text-align: justify;
}
.news__list:last-child:after{
	content: '';
	width: 100%;
	display: inline-block;
}
.news__item{
	    // outline: 1px dashed red;
	height:160px;
	vertical-align: top;
	display: inline-block;
	width: 49%;
	padding:20px;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	cursor: pointer;
	@include clearfix();
	@include transition(.25s);
	&:hover{
		border-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	}

}
.img-news{
	float:left;
	margin-right:20px;
}
.content-news{
	min-width: 73%;

    &__date{
    	@include font-size(14px);
		font-family: 'pt_sansregular';
		color: #8e9196;
	    margin-bottom: 5px;
    }
    &__title{
    	@include font-size(21px);
		font-family: 'pt_sansbold';
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    }
    &__text{
    	font-family: 'pt_sansregular';
    	@include font-size(14px);
    	line-height: 22px;
		max-height:70px;
		overflow: hidden;
    }
    &__box{
		-webkit-column-width: 380px;
		column-width: 380px;
		height: 100%;
    }
}
.more-link{
	@include font-size(14px);
	color: $darkgray;
	margin-bottom:70px;
	transition: .75s;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}
// ---------------------------------------------Медиа запросы-----------------------------------------
@include small-tablets-h{;
	// Схлоппывание блока новостей
	.news__item{
		width: 100%!important;

	}
	// ---------------------------
	.assort__item{
		height: 200px!important;
		width: 48% !important;
		&_small{

		}
	.assort__link{
    	max-height: 200px;
	}
	.assort__link_small{
    	max-height: 200px;
	}
	}
}
@include small-tablets{
	// Шрифт
	.assort-dscr{
		@include font-size(18px);
	}
	.assort__item{
		height: 150px!important;
		width: 48% !important;
	}
	.assort__link{
		max-height: 150px !important;
	}

}
@include mobile{
	.assort-dscr{
		@include font-size(16px);
	}
	.assort__item{
		height: 100px!important;
		width: 48% !important;
	}
	.assort__link{
		max-height: 100px !important ;
	}
}
@include breakpoint(400px){
	.assort-dscr{
		@include font-size(18px);
	}
	.assort__item{
		height: 80px!important;
		width: 100% !important;
	}
	.assort__link{
		max-height: 80px !important ;
	}
}