.about-user-wrap{
	@include clearfix();
}
.about-user{
	float: left;
	@include font-size(14px);
	margin-right: 80px;
}
.kabinet-nav__wrap{
	float: right;
	width: 290px;
	padding: 6px 18px;
    background: #f8f7f7;
    @include font-size(21px);
    line-height: 37px;
}
.about-user__list{
	margin-bottom: 5px;
}
.about-user__item{
	@include clearfix();
	height: 40px;
}
.about-user__item_active{
	background: $gray;
	height: 50px;
}
.about-user__item > div{
	@include vertical-align ();
}
.definition_kabinet{
	float: left;
	width: 160px;
	text-align: right;
	&:after{
		content: ':';
	}
}
.value_kabinet {
	float: left;
	width: 220px;
	margin-left:20px;
	font-family: 'pt_sansbold';
	font-weight: 600;
}
.buttons_kabinet{
	float: right;
	width: 140px;
	margin-left: 20px;
}
.button-kab{
	display: inline-block;
	margin-right: 20px;
	text-decoration: underline;
	color:$darkgray;
}
.button-kab:hover{
	text-decoration: none;
	color: $orange;
	font-weight: 600;
}
.button-kab_submit{
	color: $green;
}
.button-kab_submit:hover{
	color: $green-hover;
}
.kabinet-nav__link{
	margin-left: 13px;
	@include transition(.8s);
	color: #7b7d81;
	&:hover{
		color: #232832;
	}
}
.kabinet-nav__link_active{
	font-weight: 600;
}
.kabinet-nav__link_head{
	margin-left: 0px;
	color: #232832;
}
.add-adress{
	margin-bottom: 40px;
}
.add-adress__text{
	color:$darkgray;
	position: relative;
	cursor: pointer;
	text-decoration: underline;
	margin-left: 195px;
}
.add-adress__text:hover{
	text-decoration: none;
	color: $black;
}
.add-adress__text:before{
	content: "";
	position: absolute;
	background: url(../img/icons/plus.svg) no-repeat;
	background-size:cover;
	width: 12px;
	height: 12px;
	top:3px;
	left: -15px;

}
.add-adress__text:hover:before{
	content: "";
	position: absolute;
	background: url(../img/icons/plus_hover.svg) no-repeat;
}
.discount-wrap{
	max-width: 620px;
	padding: 20px;
	margin-bottom: 70px;
	background: $table-gray;
}
.discount__title{
	margin-bottom: 15px;
	color : $green;
	@include font-size(21px);
}
.discount__size{
	margin-left: 3px;
}
// Текущие заказы
.zakazy__list{
	margin-bottom: 20px;
}
.zakazy__item{
	padding-top: 15px;
	padding-bottom: 0px;
	cursor: pointer;
	position: relative;
	transition: .25s;
}
.zakazy__item:before{
	content: '';
	position: absolute;
	width: 14px;
	height: 8px;
    top: 23px;
    left: 20px;
	background: url('../img/icons/arrow_list-green.svg') no-repeat;
	background-size : cover;
	@include rotate(0);
	@include transition(.5s);
}
.zakazy__item:hover{
	border-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1)
}
.zakaz-info{
	@include clearfix();
	padding-left:43px;
	padding-right: 60px;
	min-height: 35px;
	font-family: 'pt_sansregular';
	&__number{
		float: left;
		margin-right: 85px;
	}
	&__comment{
		float: left;
		margin-right: 45px;
		@include font-size(14px);

	}
	&__repeat{
		float: left;
		@include font-size(14px);
	}
	&__summa{
		float: right;
	}
}
.number__text,
.comment{
	color:$accordion-text;
}
.comment,
.repeat-link{
	text-decoration: underline;

}
.repeat-link{
	color: $green;
}
.repeat-link:hover{
	color:$green-hover;
}
.comment{
	position: relative;
	display: inline-block;
	padding-left: 25px;
}
.comment:hover{
	color: $darkgray;
	text-decoration: none;
}
.comment:before{
	content: '';
	position: absolute;
	width: 15px;
	height: 12px;
	background: url('../img/icons/comment.svg') no-repeat;
	@include opacity(0.7);
	background-size : cover;
	top:5px;
	left:0;
}
.number__numeric {
	font-family: 'pt_sansbold';
	margin-left: 4px;
}
.summa__text{
	margin-right: 8px;
}
.summa__number,
.summa__text_big{
	@include font-size(21px);
	font-family: 'pt_sansbold';
}
.summa__text_big{
	margin-left: 7px;
}
// Стилизация активного заказа в списке акордеона
.zakazy__item_active{
	background: $active-zakaz-item;
}
.zakazy__item_active:before{
	content: '';
	position: absolute;
	width: 14px;
	height: 8px;
    top: 23px;
    left: 20px;
	background: url('../img/icons/arrow_list-green.svg') no-repeat;
	background-size : cover;
	@include rotate(180);
	@include transition(.5s);
}
.naming{
	width: 61.54%;
}
.amounting{
	width: 16.03%;
}
.summing{
	width: 18.12%;
}
.more-link_zakazy{
	display: block;
	margin-bottom: 60px;
	padding-left: 20px;
}
.title-nav-wrap{
	float: left;
}
//---------------------------------------------- Для JS
.zakas-details{
	display: none;
}
.buttons_kabinet-change{
	display: none;
}
.hidden-input{
	display: none;
}
.tooltip{
	display: none;
	border: 1px solid rgb(172, 173, 173);
	@include border-radius(3px);
    background-color: #f05a28;
}
.tooltip-comment{
	border: 1px solid $gray;
	background-color: $white;
	color: $darkgray;
	.tooltip__title{
		text-align: center;
		@include font-size(14px);
		position: relative;
		height: 40px;
		padding-top: 15px;
		background: $gray;
		margin-bottom: 10px;
		color: $black;
		&:before{
			content: '';
			position: absolute;
			width: 15px;
			height: 12px;
			background: url(../img/icons/comment_gray.svg) no-repeat;
			background-size: cover;
			top: 15px;
			left: 10px;
		}
	}
	.inputs__wrap{
		padding-left: 10px;
	    padding-bottom: 5px;
	}
	.tooltip__label{
		display: block;
		@include font-size(14px);
		margin-bottom: 20px;
	}
	.tooltip__input{
		outline: none;
		border-top:none;
		border-left:none;
		border-right:none;
	    border-bottom: 1px solid $gray;
	    width: 100%;
	    height: 30px;
	    margin-bottom: 10px;
	}
	.btn_tooltip{
		vertical-align: top;
		border-radius: 3px;
		background-clip: padding-box;
		padding: 12px 20px;
		line-height: 16px;
		display: inline-block;
		min-height: 40px;
		font-size: 14px;
		font-size: .875rem;
		transition: .25s;
	}
	.add_comment{
		border: 1px solid $green;
    	color: $green;
	}
	.add_comment:hover{
		color: $white;
		background: $green-hover;
	}
	.cancel_comment{
		text-decoration: underline;
	}
	.cancel_comment:hover{
		text-decoration: none;
	}
	.qtip-content{
		padding: 0;
	}
	.qtip-tip{
		margin-top: 22px !important;
		border: rgb(172, 173, 173);
		left: -11px !important;
	}
}

	.qtip{
		max-width: 360px !important;
	}
// Media для таблицы заказов с аккордеоном
@include breakpoint (1200px){
	.kabinet-nav__wrap_media{
		width: 100% !important;
		text-align: center;
		margin: 20px 0 !important;
	}
}
@include breakpoint (1024px){
	.zakaz-info__summa{
		display: inline-block !important;
		margin-top: 20px;
		float: none;
	}
	.zakaz-info__repeat{
		float:right !important ;
	}
}
@include breakpoint (848px){
	.zakaz-info__repeat{
		float:none !important;
		display: inline-block;
	}
	.zakaz-info__comment{
		display: inline-block;
	}
	.kabinet-nav__wrap{
		width: 100% !important;
		text-align: center;
		margin-top: 20px !important;
	}
	.zakaz-info__summa{
		margin-bottom: 15px;
	}
}