.breadcrumbs{
	font-family: 'pt_sansregular', serif;
	font-size: 14px;
	@include opacity(.7);
	margin-bottom: 31px;
	padding-top: 18px;
}
.breadcrumbs__list{
	display: inline-block;
}
.breadcrumbs__item{
	display: inline-block;
}
.breadcrumbs__link{
	&:hover{
		text-decoration: underline;
	}
	&:after{
		display: block;
		float: right;
		content: ">";
		margin-left: 5px;
	}
	&_active{
		&:hover{
			text-decoration: none;
		}
		&:after{
			content: "";
		}
	}
}
.product__card{
	background: #fff;
	&-item__gallery{
		margin-right: 90px;
		float: left;
		width: 33%;
		position: relative;
	}
}
.product-status{
	position: absolute;
	top:0;
	padding: 6px 10px;
	display: inline-block;
	border-radius: 4px;
	font-family: 'pt_sansbold', sans-serif;
	font-size: 14px;
	color: #fff;
}
.product-status_new {
	background-color: #2dcdfc;
}
.product-status_discount {
	background-color: #f05a28;
}

.__title{
	font-size: 34px;
	font-family: 'pt_sansbold', sans-serif;
	margin-bottom: 20px;
}
.product__card-item__gallery {
	overflow: hidden;
	.slick-slide{
		display: inline-block;
		outline: none;
	}
}
.product__card-item__gallery-new{
	position: absolute;
	left: 10px;
	top: 12px;
	z-index: 2;
}
.slider-nav{
	min-height: 65px;
	margin-top: 20px;
	a{
		margin-right: 20px;
		border: 1px solid #dfe0e2;
		width: auto !important;
		&:last-child{
			margin-right: 0;
		}
	}
}
.slick-list{
	padding: 0 !important;
}
.slick-center{
	border: 2px solid #f05a28 !important;
	border-radius: 2px !important;
}

.product__card-about__item{
	width: 32.2%;
	float: left;
	margin-right: 20px;
	&-title{
		font-family: 'pt_sansbold', sans-serif;
		font-size: 21px;
		margin-bottom: 5px;
	}
	&-dscr{
		font-family: 'pt_sansregular', serif;
		font-size: 14px;
		line-height: 21px;
		text-align: justify;
	}
}

.product__card-basket{
	padding: 28px;
	width: 300px;
	min-height: 250px;
	background: #f9f9f9;
	float: left;

	&_price{
		font-family: 'pt_sansregular', serif;
		font-size: 21px;
		margin-bottom: 9px;
		&--big{
			font-size: 37px;
			margin-right: 7px;
			font-family: 'pt_sansbold', sans-serif;
		}
	}
	&_count{
		display: inline-block;
		float: right;
	}
	.product__stock-status{
		margin-bottom: 22px;
	}
}
.product__card-basket-amount{
	margin-bottom: 35px;
	@include clearfix;
}
.product__card-add__basket--btn{
	@extend .product_catalog;
		// display: inline-block !important;
		font-size: 14px;
		float: none !important;
		position: relative;
		margin: 0 auto;
		margin-right: 0 !important;
		display: block;
		text-align: center;
		&:before{
			content: "";
			position: absolute;
			background: url(../img/icons/cart_white.svg) 0 0 no-repeat;
			width: 13px;
			height: 11px;
			top: 13px;
			left: 14px;
		}
	}
.product__card-basket_stock,
.product__card-basket_price{
	display: block;
}

.product__amount{
	@include clearfix;
	display: inline-block;
	.minus{
		float:left;
		display: block;
		background: #f1f1f1 url("../img/icons/minus.svg") no-repeat;
		background-position: center;
	}
	.input{
		float:left;
		display: block;
		height: 30px;
		width: 38px;
		border: 1px solid #cccdcd;
		text-align: center;
		font-family: 'pt_sansbold', sans-serif;
		font-size: 14px;
		color: #232832;
		outline:none;
	}
	.plus{
		float:left;
		display: block;
		background: #f1f1f1 url("../img/icons/plus.svg") no-repeat;
		background-position: center;
	}
	.minus,
	.plus{
		display: inline-block;
		width: 30px;
		height: 30px;
		// background: #f1f1f1;
		border: 1px solid #cccdcd;
		text-align: center;
		cursor: pointer;
		color: #c0c0c0;
		line-height: 28px;
	}
}

.similar-assort-block{
	background: #f8f7f7;
	.container{
		padding: 30px 10px 50px;
	}
}



@include breakpoint(1200px){
	.product__card-add__basket--btn{
		float: left !important;
	}
	.product__card-about__item{
		width: 50%;
		float: right;
		margin-bottom: 30px;
	}
	.product__card-basket{
		float: right;
		margin-right: 20px;
		width: 300px;
	}
}
@include breakpoint(804px){
	.product__card-gallery{
		width: 100%;
	}
	.slick-slide{
		img{
			margin: 0 auto;
		}
	}
	.product__card-about__item{
		width: 50%;
		float: right;
	}
}
@include breakpoint(700px){
	.product__card-about__item{
		width: 100%;
		margin-right: 0;
		margin-top: 20px;
	}
	.product__card-basket{
		width: 100%;
		margin-right: 0;
	}
	.product__card-item__gallery {
	    float: left;
	    width: 100%;
	    position: relative;
	}
}
@media screen and (min-width: 580px) and (max-width: 700px){
	.product__card-item__gallery{
		margin-bottom: 25px;
	}
	.product__card-about__item{
		width: 45%;
		margin-right: 0;
		margin-top: 0;
		float: left;
	}
	.product__card-basket{
		width: 300px;
	}
}
@include breakpoint(579px){
	.product__card-basket{
		clear: both;
		width: 300px;
		float: none;
		margin: 0 auto;
	}
}




