*{
	box-sizing:border-box;
	font-family: 'pt_sansregular';
}

h1{
	font-size: 2em; 
}
main{
		color: $black;
		background: $gray;
}
@include breakpoint(1024){
	h1{
		font-size: .2em; 
	}
	
}

//Подключение глобальных блоков
@import "layout/_header";
@import "layout/_footer";
@import "layout/_kartochka";

