*{
	box-sizing:border-box;
	font-family: 'pt_sansregular';
}

h1{
	font-size: 2em;
}
main{
		color: $black;
		background: $gray;
}
@include breakpoint(1024){
	h1{
		font-size: .2em;
	}

}

//Подключение глобальных блоков
@import "layout/_header";
@import "layout/_footer";

body{
	 -webkit-font-smoothing: antialiased;
	 -webkit-font-smoothing: subpixel-antialiased;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	-webkit-font-smoothing: subpixel-antialiased;
}

