.vacancy__accordion-title.vacancy__accordion-link--active{
	background: #f9f9f9;
	position: relative;
	&:before{
		background: url("../img/icons/arrow_list-green.svg");
		@include rotate(360);
	}
}
.right-title,
.left-title{
	color: #232832;
	font-size: 14px;
	float: left;
}
.right-title{
	.accord-title{
		margin: 0 5px 0 5px;
	}
}
.left-title{
	min-width: 320px;
}
.accord-title{
	display: inline-block;
	font-family: pt_sansbold,sans-serif;
	font-size: 21px;
	line-height: 43px;
}
.vacancy__accordion-title{
	padding: 5px 0  5px 45px;
	@include clearfix;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	&:hover{
		border-color: #fff;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	}
	&:before{
		content: "";
		position: absolute;
		background: url("../img/icons/arrow_list-green.svg");
		@include rotate(180);
		@include transition(.5s);
		background-repeat: no-repeat;
		width: 13px;
		height: 8px;
		top: 21px;
		left: 26px;
	}
}
.vacancy__accordion-info{
	display: none;
	padding: 13px 0 13px 45px;
	line-height: 30px;
	li{
		margin-left: 40px;
		position: relative;
		&:before{
			content: '\2014';
			position: absolute;
			left: -20px;
		}
	}
}
.vacancy__accordion {
	float: left;
	width: 100%;
}
.info-bold {
	font-weight: 600;
}