extends _layout.jade
block main
	section.about__company
		.container__catalog-wrap
			.container__catalog
				//- akordion
				include ./_includes/_layout/_aside.jade
				.catalog-content-wrap
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link.breadcrumbs__link_active(href="#") О компании
					.about__company-wrap
						h1.company-title
							| О компании
						p.__company-dscr
							| 11 марта 2009 года наша компания в третий раз стала лауреатом 
							| национальной премии рынка канцелярских и офисных товаров 
							| «Золотая Скрепка» и признана лучшей оптовой компанией 
							| Северо-Западного региона 2008 года.
						p.__company-dscr
							| Награды премии "Золотая Скрепка" стали для нас доброй традицией с 
							| 2004 года, когда компания «Остров-М» стала дипломантом в номинации 
							| «Лучшая розничная сеть Северо-Западного региона». В 2005 году 
							| мы получили диплом как «Лучшая оптовая компания Центральной и 
							| Северной России». А начиная с  2007 года мы ежегодно становимся 
							| лауреатами этой премии:
						p.__company-dscr.__company-dscr-l
							| 2007 год — «Лучшая розничная сеть Северо-Западного региона».
						p.__company-dscr.__company-dscr-l
							| 2008 год — «Лучшая оптовая компания Северо-Западного региона».
						p.__company-dscr.__company-dscr-l
							| 2009 год — «Компания года Северо-Западного региона».
						p.__company-dscr
							| История компании «Остров» началась в феврале 1993 года с торговли 
							| туалетной бумагой и салфетками. Сегодня это — одно из крупнейших 
							| оптовых предприятий Северо-Запада на рынке бумажно-беловых и 
							| канцелярских товаров.
						p.__company-dscr
							| Ассортимент канцелярских товаров, предлагаемых компанией, в настоящее 
							| время превышает 5000 наименований от отечественных и зарубежных 
							| производителей. Число поставщиков и покупателей постоянно растет.
						p.__company-dscr
							| Для удобства наших клиентов офис и склад расположены в  одном отдельно 
							| стоящем здании. Просторный выставочный зал позволяет ознакомиться со 
							| всеми образцами бумаги и канцелярских товаров и при желании приобрести 
							| бумагу и канцтовары оптом.
					include ./_includes/_layout/_about_company_nav.jade
				