extends _layout.jade
block main
	.container__catalog-wrap
		.container__catalog
			include ./_includes/_layout/_aside.jade
			.catalog-content-wrap
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href='#') Главная
						li.breadcrumbs__item
							a.breadcrumbs__link.breadcrumbs__link_active(href='#') Каталог
				h2.__title.__title_catalog Все товары
				form.characteristics-form
					label(for="product_type")
						|Тип:
						select(id='product_type' class='selector' name='product_type')
							option(selected) Гелевые
							option Шариковые
					label(for="product_producer")
						|Производитель:
						select(id='product_producer' class='selector' name='product_producer')
							option(selected) Pilot
							option Herz
					label(for="product_color")
						|Цвет:
						select(id='product_color' class='selector' name='product_color')
							option(selected) Все
							option Оранжевый
							option Синий
							option Зеленый
					.form-buttons-wrap
						button(type='submit' name='subm_charact' class='subm_charact') Показать
						button(type='reset' name='reset_charact' class='reset_charact') Сбросить
				.sort
					.sort__group
						.sort-text Сортировать:
						ul.grouping__list
							li.grouping__item
								input#price.input-radio(type='radio', name='radio')
								label.radio-label(for='price') по цене
							li.grouping__item
								input#name.input-radio(type='radio', name='radio')
								label.radio-label(for='name') по наименованию
							li.grouping__item
								input#proisvod.input-radio(type='radio', name='radio')
								label.radio-label(for='proisvod') по производителю
					.sort__news-views
						ul.news-discount__list
							li.news-discount__item
								input#news.input-checkbox(type='checkbox')
								label.checkbox-label.ch-box_blue(for='news') Новинки
							li.news-discount__item
								input#discount.input-checkbox(type='checkbox')
								label.checkbox-label.ch-box_orange(for='discount') Акция
						.filter-view
							.sort-text Вид каталога
							ul.filter-view__list
								li.filter-view__item
									a.filter-view__link(href='#' data-mode='block')
										.filter-view__icon.filter-view-blocks.filter-view-blocks_active
								li.filter-view__item
									a.filter-view__link(href='#' data-mode='list')
										.filter-view__icon.filter-view-line
				ul.catalog-wrap.catalog-block-style
						-for (var j=1;j<=7;j++)
							if j%2==0
								li.catalog-product-wrap
									.product-image-wrap
										img.product-image(src='img/product-images/product1.jpg' alt='Блокнот «Животные»')
										.product-status.product-status_new Новинка
									.product-text-wrap
										a.product-title(href='kartochka.html' alt='Блокнот «Животные»') Настольный географический глобус MINI (ARIES)
										.product_package_amount Упаковка: 10 шт.
									.product-price-line-wrap
										p.product__stock-status.product__stock-status_expected
											span Ожидается
										.product-price-wrap
											.product-price 100
											.product-price-per руб./шт.
									.product_package_amount
										|Упаковка: 10шт.
									form.product-order-wrap
										.product__amount
											span.minus
											input.input(type='text' value='1' name='prod_amount')
											span.plus
										button.product-add(name='submit_amount' alt='Добавить в корзину') Добавить
							else
								li.catalog-product-wrap
									.product-image-wrap
										img.product-image(src='img/product-images/product2.jpg' alt='Блокнот «Животные»')
										.product-status.product-status_discount Акция
									.product-text-wrap
										a.product-title(href='kartochka.html' alt='Блокнот «Животные»') Блокнот «Животные»
										.product_package_amount  Упаковка: 10 шт.
									.product-price-line-wrap
										p.product__stock-status.product__stock-status_available
											span В наличии
										.product-price-wrap
											.product-price 100
											.product-price-per руб./шт.
									.product_package_amount
										|Упаковка: 10шт.
									form.product-order-wrap
										.product__amount
											span.minus
											input.input(type='text', value='1', name='prod_amount')
											span.plus
										button.product-add(name='submit_amount' alt='Добавить в корзину') Добавить
				ul.padination-wrap
					li
						a.pagination-link.prev(href='#' alt='2-я страница') <
					li
						a.pagination-link.active(href='#' alt='2-я страница') 1
					li
						a.pagination-link(href='#' alt='2-я страница') 2
					li
						span.pagination-link(href='#' alt='2-я страница') ...
					li
						a.pagination-link(href='#' alt='2-я страница') 21
					li
						a.pagination-link(href='#' alt='2-я страница') 22
					li
						a.pagination-link(href='#' alt='2-я страница') 23
					li
						a.pagination-link.next(href='#' alt='2-я страница') >
				.description-content-block
					p
						|Ассортимент офисной бумаги и канцелярских товаров, предлагаемых оптом нашей компанией, в настоящее время превышает 5000 наименований, поэтому мы не стали размещать на нашем сайте каталог или прайс-лист. Сообщите по телефону или электронной почте, какая  офисная бумага или какие канцтовары Вас интересуют, и наши менеджеры подберут именно то, что Вам нужно, и в кратчайшие сроки вышлют коммерческое предложение.
					p
						| Наша компания является официальным дилером ЗАО "Интернешнл Пейпер" (Светогорский комбинат), поэтому мы можем предложить не только офисную бумагу отменного европейского качества, но и лучшие цены на бумагу SvetoCopy А4.
