extends _layout.jade
block main
	ul.catalog-wrap.catalog-block-style
		li.catalog-product-wrap
			.product-image-wrap
				img.product-image(src='img/product-images/product1.jpg' alt='Блокнот «Животные»')
				.product-status  Акция
			.product-text-wrap
				a.product-title(href='#' alt='Блокнот «Животные»') Блокнот «Животные»
				.product-text  Упаковка: 10 шт.
			.product-price-line-wrap
				.product-price-wrap
					.product-price 100
					.product-price-per руб./шт.
				p.product-note.product-note_expected Ожидаеться
			.product-order-wrap
				p.product-amount-wrap
					|100
				a.product-add(href='#' alt='Добавить в корзину')| Добавить
		li.catalog-product-wrap
			.product-image-wrap
				img.product-image(src='img/product-images/product1.jpg' alt='Блокнот «Животные»')
				.product-status  Акция
			.product-text-wrap
				a.product-title(href='#' alt='Блокнот «Животные»') Блокнот «Животные»
				.product-text  Упаковка: 10 шт.
			.product-price-line-wrap
				.product-price-wrap
					.product-price 100
					.product-price-per руб./шт.
				p.product-note.product-note_expected Ожидаеться
			.product-order-wrap
				p.product-amount-wrap
					|100
				a.product-add(href='#' alt='Добавить в корзину')| Добавить
		li.catalog-product-wrap
			.product-image-wrap
				img.product-image(src='img/product-images/product1.jpg' alt='Блокнот «Животные»')
				.product-status  Акция
			.product-text-wrap
				a.product-title(href='#' alt='Блокнот «Животные»') Блокнот «Животные»
				.product-text  Упаковка: 10 шт.
			.product-price-line-wrap
				.product-price-wrap
					.product-price 100
					.product-price-per руб./шт.
				p.product-note.product-note_available В наличии
			.product-order-wrap
				p.product-amount-wrap
					|100
				a.product-add(href='#' alt='Добавить в корзину')| Добавить

