extends _layout.jade
block main
	section.about__company
		.container__catalog-wrap
			.container__catalog
				//- akordion
				include ./_includes/_layout/_aside.jade
				.catalog-content-wrap
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") О компании
							li.breadcrumbs__item
								a.breadcrumbs__link.breadcrumbs__link_active(href="#") Наши клиенты и отзывы
					include ./_includes/_layout/_about_company_nav.jade
					.info__company-wrap
						h1.company-title
							| Наши клиенты и отзывы
						form(action="#").feedback-form
							h3.feedback-title
								| Оставить отзыв
							label(for="name")
								input.name-are(type="text" placeholder="Ваше имя и фамилия") 
							label(for="company")
								input.company-are(type="text" placeholder="Компания")
							label(for="message")
								textarea.message-are(name="text" placeholder="Текст отзыва")
							.capture
								| место под гуглКапчу
							input.submit-btn(type="submit" name="submit" value="Отправить")
						.feedbacks-wrap
							.feedback-item
								h3.feedback-name
									| Александр Михайлов
								span.feedback-company
									| ЗАО Пирамида
								p.feedback-message
									|Очень быстро исполнили мой заказ. 
									| Благодарю за сервис, очень понравилось. 
									| Желаю успеха и процветания. 
									|Очень быстро исполнили мой заказ.
									| Благодарю за сервис, очень понравилось.
									| Желаю успеха и процветания.
							.feedback-item
								h3.feedback-name
									| Екатерина Беляева
								span.feedback-company
									| ООО Ласточка
								p.feedback-message
									| Спасибо большое. Весь товар был подобран 
									| в точности с выбранным мной ассортиментом, а это 
									| более 30 позиций штучного товара. Особую 
									| благодарность хочу выразить оператору приема 
									| заказов по телефону, она мне укомплектовала 
									| заказ шрифтовыми перьями тех размеров которые 
									| мне были нужны, очень приятно что уважительно 
									| относятся к покупателю. Доставили 
									| товар хорошо упакованный.		
									| Спасибо большое. Весь товар был подобран
									| в точности с выбранным мной ассортиментом, а это
									| более 30 позиций штучного товара. Особую
									| благодарность хочу выразить оператору приема
									| заказов по телефону, она мне укомплектовала
									| заказ шрифтовыми перьями тех размеров которые
									| мне были нужны, очень приятно что уважительно
									| относятся к покупателю. Доставили
									| товар хорошо упакованный.
							.feedback-item
								h3.feedback-name
									| Александр Михайлов
								span.feedback-company
									| ЗАО Пирамида
								p.feedback-message
									|Очень быстро исполнили мой заказ. 
									| Благодарю за сервис, очень понравилось. 
									| Желаю успеха и процветания. 
									|Очень быстро исполнили мой заказ.
									| Благодарю за сервис, очень понравилось.
									| Желаю успеха и процветания.
							.feedback-item
								h3.feedback-name
									| Екатерина Беляева
								span.feedback-company
									| ООО Ласточка
								p.feedback-message
									| Спасибо большое. Весь товар был подобран 
									| в точности с выбранным мной ассортиментом, а это 
									| более 30 позиций штучного товара. Особую 
									| благодарность хочу выразить оператору приема 
									| заказов по телефону, она мне укомплектовала 
									| заказ шрифтовыми перьями тех размеров которые 
									| мне были нужны, очень приятно что уважительно 
									| относятся к покупателю. Доставили 
									| товар хорошо упакованный.		
									| Спасибо большое. Весь товар был подобран
									| в точности с выбранным мной ассортиментом, а это
									| более 30 позиций штучного товара. Особую
									| благодарность хочу выразить оператору приема
									| заказов по телефону, она мне укомплектовала
									| заказ шрифтовыми перьями тех размеров которые
									| мне были нужны, очень приятно что уважительно
									| относятся к покупателю. Доставили
									| товар хорошо упакованный.
							.feedback-item
								h3.feedback-name
									| Александр Михайлов
								span.feedback-company
									| ЗАО Пирамида
								p.feedback-message
									|Очень быстро исполнили мой заказ. 
									| Благодарю за сервис, очень понравилось. 
									| Желаю успеха и процветания. 
									|Очень быстро исполнили мой заказ.
									| Благодарю за сервис, очень понравилось.
									| Желаю успеха и процветания.
							.feedback-item
								h3.feedback-name
									| Екатерина Беляева
								span.feedback-company
									| ООО Ласточка
								p.feedback-message
									| Спасибо большое. Весь товар был подобран 
									| в точности с выбранным мной ассортиментом, а это 
									| более 30 позиций штучного товара. Особую 
									| благодарность хочу выразить оператору приема 
									| заказов по телефону, она мне укомплектовала 
									| заказ шрифтовыми перьями тех размеров которые 
									| мне были нужны, очень приятно что уважительно 
									| относятся к покупателю. Доставили 
									| товар хорошо упакованный.		
									| Спасибо большое. Весь товар был подобран
									| в точности с выбранным мной ассортиментом, а это
									| более 30 позиций штучного товара. Особую
									| благодарность хочу выразить оператору приема
									| заказов по телефону, она мне укомплектовала
									| заказ шрифтовыми перьями тех размеров которые
									| мне были нужны, очень приятно что уважительно
									| относятся к покупателю. Доставили
									| товар хорошо упакованный.
							.feedback-item
								h3.feedback-name
									| Александр Михайлов
								span.feedback-company
									| ЗАО Пирамида
								p.feedback-message
									|Очень быстро исполнили мой заказ. 
									| Благодарю за сервис, очень понравилось. 
									| Желаю успеха и процветания. 
									|Очень быстро исполнили мой заказ.
									| Благодарю за сервис, очень понравилось.
									| Желаю успеха и процветания.
							.feedback-item
								h3.feedback-name
									| Екатерина Беляева
								span.feedback-company
									| ООО Ласточка
								p.feedback-message
									| Спасибо большое. Весь товар был подобран 
									| в точности с выбранным мной ассортиментом, а это 
									| более 30 позиций штучного товара. Особую 
									| благодарность хочу выразить оператору приема 
									| заказов по телефону, она мне укомплектовала 
									| заказ шрифтовыми перьями тех размеров которые 
									| мне были нужны, очень приятно что уважительно 
									| относятся к покупателю. Доставили 
									| товар хорошо упакованный.		
									| Спасибо большое. Весь товар был подобран
									| в точности с выбранным мной ассортиментом, а это
									| более 30 позиций штучного товара. Особую
									| благодарность хочу выразить оператору приема
									| заказов по телефону, она мне укомплектовала
									| заказ шрифтовыми перьями тех размеров которые
									| мне были нужны, очень приятно что уважительно
									| относятся к покупателю. Доставили
									| товар хорошо упакованный.
						ul.padination-wrap
							li
								a.pagination-link.prev(href='#' alt='2-я страница') <
							li
								a.pagination-link.active(href='#' alt='2-я страница') 1
							li
								a.pagination-link(href='#' alt='2-я страница') 2
							li
								span.pagination-link(href='#' alt='2-я страница') ...
							li
								a.pagination-link(href='#' alt='2-я страница') 21
							li
								a.pagination-link(href='#' alt='2-я страница') 22
							li
								a.pagination-link(href='#' alt='2-я страница') 23
							li
								a.pagination-link.next(href='#' alt='2-я страница') >
					.gallery-wrap
						.feedback-title
							| Благодарственные письма	
						.thanksgiving__letters-gallery
							a(href="img/feedbacks-img/letter-1.jpg" data-lightbox='gallery-2' data-title='Подпись к картинке' class='link-news-preview link-news-preview--large')
								img(src="img/feedbacks-img/letter-1.jpg"  class="image-news-preview")
							a(href="img/feedbacks-img/letter-2.jpg" data-lightbox='gallery-2' data-title='Подпись к картинке' class='link-news-preview link-news-preview--large')
								img(src="img/feedbacks-img/letter-2.jpg"  class="image-news-preview")
							a(href="img/feedbacks-img/letter-3.jpg" data-lightbox='gallery-2' data-title='Подпись к картинке' class='link-news-preview link-news-preview--large')
								img(src="img/feedbacks-img/letter-3.jpg"  class="image-news-preview")
							a(href="img/feedbacks-img/letter-1.jpg" data-lightbox='gallery-2' data-title='Подпись к картинке' class='link-news-preview link-news-preview--large')
								img(src="img/feedbacks-img/letter-1.jpg"  class="image-news-preview")
							a(href="img/feedbacks-img/letter-3.jpg" data-lightbox='gallery-2' data-title='Подпись к картинке' class='link-news-preview link-news-preview--large')
								img(src="img/feedbacks-img/letter-3.jpg"  class="image-news-preview")
