extends _layout.jade
block main
	section.about__company
		.container
			//- akordion
			.reserved 
				| fdf 
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") О компании
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") Наши клиенты и отзывы
			.feedbacks__form-wrap
				h1.company-title
					| Наши клиенты и отзывы
				form(action="#").feedback-form
					h3.feedback-title
						| Оставить отзыв
					label(for="name")
						input.name-are(type="text" placeholder="Ваше имя и фамилия") 
					label(for="company")
						input.company-are(type="text" placeholder="Компания")
					label(for="message")
						textarea.message-are(name="text" placeholder="Текст отзыва")
					.capture
						| место под гуглКапчу
					input.submit-btn(type="submit" name="submit" value="Отправить")
				.feedbacks-wrap
					.feedback-item
						h3.feedback-name
							| Александр Михайлов
						span.feedback-company
							| ЗАО Пирамида
						p.feedback-message
							|Очень быстро исполнили мой заказ. 
							| Благодарю за сервис, очень понравилось. 
							| Желаю успеха и процветания. 
					.feedback-item
						h3.feedback-name
							| Екатерина Беляева
						span.feedback-company
							| ООО Ласточка
						p.feedback-message
							| Спасибо большое. Весь товар был подобран 
							| в точности с выбранным мной ассортиментом, а это 
							| более 30 позиций штучного товара. Особую 
							| благодарность хочу выразить оператору приема 
							| заказов по телефону, она мне укомплектовала 
							| заказ шрифтовыми перьями тех размеров которые 
							| мне были нужны, очень приятно что уважительно 
							| относятся к покупателю. Доставили 
							| товар хорошо упакованный.		
					.feedback-item
						h3.feedback-name
							| Александр Михайлов
						span.feedback-company
							| ЗАО Пирамида
						p.feedback-message
							|Очень быстро исполнили мой заказ. 
							| Благодарю за сервис, очень понравилось. 
							| Желаю успеха и процветания. 
					.feedback-item
						h3.feedback-name
							| Екатерина Беляева
						span.feedback-company
							| ООО Ласточка
						p.feedback-message
							| Спасибо большое. Весь товар был подобран 
							| в точности с выбранным мной ассортиментом, а это 
							| более 30 позиций штучного товара. Особую 
							| благодарность хочу выразить оператору приема 
							| заказов по телефону, она мне укомплектовала 
							| заказ шрифтовыми перьями тех размеров которые 
							| мне были нужны, очень приятно что уважительно 
							| относятся к покупателю. Доставили 
							| товар хорошо упакованный.		
					.feedback-item
						h3.feedback-name
							| Александр Михайлов
						span.feedback-company
							| ЗАО Пирамида
						p.feedback-message
							|Очень быстро исполнили мой заказ. 
							| Благодарю за сервис, очень понравилось. 
							| Желаю успеха и процветания. 
					.feedback-item
						h3.feedback-name
							| Екатерина Беляева
						span.feedback-company
							| ООО Ласточка
						p.feedback-message
							| Спасибо большое. Весь товар был подобран 
							| в точности с выбранным мной ассортиментом, а это 
							| более 30 позиций штучного товара. Особую 
							| благодарность хочу выразить оператору приема 
							| заказов по телефону, она мне укомплектовала 
							| заказ шрифтовыми перьями тех размеров которые 
							| мне были нужны, очень приятно что уважительно 
							| относятся к покупателю. Доставили 
							| товар хорошо упакованный.		
					.feedback-item
						h3.feedback-name
							| Александр Михайлов
						span.feedback-company
							| ЗАО Пирамида
						p.feedback-message
							|Очень быстро исполнили мой заказ. 
							| Благодарю за сервис, очень понравилось. 
							| Желаю успеха и процветания. 
					.feedback-item
						h3.feedback-name
							| Екатерина Беляева
						span.feedback-company
							| ООО Ласточка
						p.feedback-message
							| Спасибо большое. Весь товар был подобран 
							| в точности с выбранным мной ассортиментом, а это 
							| более 30 позиций штучного товара. Особую 
							| благодарность хочу выразить оператору приема 
							| заказов по телефону, она мне укомплектовала 
							| заказ шрифтовыми перьями тех размеров которые 
							| мне были нужны, очень приятно что уважительно 
							| относятся к покупателю. Доставили 
							| товар хорошо упакованный.		
				ul.padination-wrap
					li
						a.pagination-link.prev(href='#' alt='2-я страница') <
					li
						a.pagination-link.active(href='#' alt='2-я страница') 1
					li
						a.pagination-link(href='#' alt='2-я страница') 2
					li
						span.pagination-link(href='#' alt='2-я страница') ...
					li
						a.pagination-link(href='#' alt='2-я страница') 21
					li
						a.pagination-link(href='#' alt='2-я страница') 22
					li
						a.pagination-link(href='#' alt='2-я страница') 23
					li
						a.pagination-link.next(href='#' alt='2-я страница') >
				.thanksgiving__letters-gallery
			include ./_includes/_layout/_about_company_nav.jade