extends _layout.jade
block main
	section.kabinet
		.container__catalog-wrap
			.container__catalog
				include ./_includes/_layout/_aside.jade
				.catalog-content-wrap
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link.breadcrumbs__link_active(href="#") Личный кабинет
					.about-user-wrap
						.title-nav-wrap
							h2.__title Личный кабинет
							.about-user
								ul.about-user__list
									li.about-user__item
										.definition_kabinet Ваше имя:
										.value_kabinet 
											span.value-name Александр
											input(class="hidden-input")
										.buttons_kabinet
											a(href="#").button-kab.button-kab_change Изменить
											.buttons_kabinet-change
												a(href="#").button-kab.button-kab_submit Готово
												a(href="#").button-kab.button-kab_discard Отменить

									li.about-user__item.about-user__item_active
										.definition_kabinet Название компании:
										.value_kabinet 
											span.value-name ЗАО "Пирамида"
											input(class="hidden-input")
										.buttons_kabinet
											a(href="#").button-kab.button-kab_change Изменить
											.buttons_kabinet-change
												a(href="#").button-kab.button-kab_submit Готово
												a(href="#").button-kab.button-kab_discard Отменить
									li.about-user__item
										.definition_kabinet Телефон:
										.value_kabinet 
											span.value-name + 7 937 99 92
											input(class="hidden-input")
										.buttons_kabinet
											a(href="#").button-kab.button-kab_change Изменить
											.buttons_kabinet-change
												a(href="#").button-kab.button-kab_submit Готово
												a(href="#").button-kab.button-kab_discard Отменить
									li.about-user__item
										.definition_kabinet Email:
										.value_kabinet 
											span.value-name info@piramida.ru
											input(class="hidden-input")
										.buttons_kabinet
											a(href="#").button-kab.button-kab_change Изменить
											.buttons_kabinet-change
												a(href="#").button-kab.button-kab_submit Готово
												a(href="#").button-kab.button-kab_discard Отменить
									li.about-user__item
										.definition_kabinet Адрес для доставок:
										.value_kabinet 
											span.value-name 198504, г.Санкт-Петербург, ул. Никольская, д.30/А
											input(class="hidden-input")
										.buttons_kabinet
											a(href="#").button-kab.button-kab_change Изменить
											.buttons_kabinet-change
												a(href="#").button-kab.button-kab_submit Готово
												a(href="#").button-kab.button-kab_discard Отменить
								.add-adress 
									span.add-adress__text Добавить адрес
						.kabinet-nav__wrap
							ul.kabinet-nav__list
								li.kabinet-nav__item
									a(href="#").kabinet-nav__link.kabinet-nav__link_head.kabinet-nav__link_active Личный кабинет
								li.kabinet-nav__item
									a(href="#").kabinet-nav__link История заказов
					.discount-wrap
						.discount__title Действующая скидка
						.discount__text В данный момент скидка составляет
							span.discount__size 4% 
					h2.__title Текущие заказы
					.zakazy__wrap_current
						ul.zakazy__list
							li.zakazy__item
								.zakaz-info
									.zakaz-info__number
										span.number__text Номер:
										span.number__numeric 054236
									.zakaz-info__comment
										span.comment 1
										.tooltip
											.tooltip__title Повторить даный заказ перед Новым годом
											.inputs__wrap
												label(for="comment-input").tooltip__label Ваш коментарий
												input(type="text").tooltip__input
												.btn-group
													a(href="#").btn_tooltip.add_comment Добавить
													a(href="#").btn_tooltip.cancel_comment Отменить
									.zakaz-info__summa
										span.summa__text Сумма:
										span.summa__number 45 789
										span.summa__text_big руб.
								.zakas-details
									table.responsive.table
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
							li.zakazy__item
								.zakaz-info
									.zakaz-info__number
										span.number__text Номер:
										span.number__numeric 054236
									.zakaz-info__comment
										span.comment 1
										.tooltip
											.tooltip__title Повторить даный заказ перед Новым годом
											.inputs__wrap
												label(for="comment-input").tooltip__label Ваш коментарий
												input(type="text").tooltip__input
												.btn-group
													a(href="#").btn_tooltip.add_comment Добавить
													a(href="#").btn_tooltip.cancel_comment Отменить
									.zakaz-info__summa
										span.summa__text Сумма:
										span.summa__number 45 789
										span.summa__text_big руб.
								.zakas-details
									table.responsive.table
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
							li.zakazy__item
								.zakaz-info
									.zakaz-info__number
										span.number__text Номер:
										span.number__numeric 054236
									.zakaz-info__comment
										span.comment 1
										.tooltip
											.tooltip__title Повторить даный заказ перед Новым годом
											.inputs__wrap
												label(for="comment-input").tooltip__label Ваш коментарий
												input(type="text").tooltip__input
												.btn-group
													a(href="#").btn_tooltip.add_comment Добавить
													a(href="#").btn_tooltip.cancel_comment Отменить
									.zakaz-info__summa
										span.summa__text Сумма:
										span.summa__number 45 789
										span.summa__text_big руб.
								.zakas-details
									table.responsive.table
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
						a(href="#").more-link.more-link_zakazy Смотреть все заказы
					h2.__title Выполненые заказы
					.zakazy__wrap_execution
						ul.zakazy__list
							li.zakazy__item
								.zakaz-info
									.zakaz-info__number
										span.number__text Номер:
										span.number__numeric 054236
									.zakaz-info__comment
										span.comment Добавить коментарий
										.tooltip
											.tooltip__title Повторить даный заказ перед Новым годом
											.inputs__wrap
												label(for="comment-input").tooltip__label Ваш коментарий
												input(type="text").tooltip__input
												.btn-group
													a(href="#").btn_tooltip.add_comment Добавить
													a(href="#").btn_tooltip.cancel_comment Отменить
									.zakaz-info__repeat
										span.repeat-link Повторить заказ
									.zakaz-info__summa
										span.summa__text Сумма:
										span.summa__number 45 789
										span.summa__text_big руб.
								.zakas-details
									table.responsive.table
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
							li.zakazy__item
								.zakaz-info
									.zakaz-info__number
										span.number__text Номер:
										span.number__numeric 054236
									.zakaz-info__comment
										span.comment Добавить коментарий
										.tooltip
											.tooltip__title Повторить даный заказ перед Новым годом
											.inputs__wrap
												label(for="comment-input").tooltip__label Ваш коментарий
												input(type="text").tooltip__input
												.btn-group
													a(href="#").btn_tooltip.add_comment Добавить
													a(href="#").btn_tooltip.cancel_comment Отменить
									.zakaz-info__repeat
										span.repeat-link Повторить заказ
									.zakaz-info__summa
										span.summa__text Сумма:
										span.summa__number 45 789
										span.summa__text_big руб.
								.zakas-details
									table.responsive.table
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td.summing
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
							li.zakazy__item
								.zakaz-info
									.zakaz-info__number
										span.number__text Номер:
										span.number__numeric 054236
									.zakaz-info__comment
										span.comment Добавить коментарий
										.tooltip
											.tooltip__title Повторить даный заказ перед Новым годом
											.inputs__wrap
												label(for="comment-input").tooltip__label Ваш коментарий
												input(type="text").tooltip__input
												.btn-group
													a(href="#").btn_tooltip.add_comment Добавить
													a(href="#").btn_tooltip.cancel_comment Отменить
									.zakaz-info__repeat
										span.repeat-link Повторить заказ
									.zakaz-info__summa
										span.summa__text Сумма:
										span.summa__number 45 789
										span.summa__text_big руб.
								.zakas-details
									table.responsive.table
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
										tr
											td.naming
												a(href="#").name-product Настольный географический глобус MINI (ARIES)
												.articul Арт.
													span.articul__num 123456
											td.amounting
												span.amount-sht
													|40
											td
												.summa-wrap
													span.summa-item
														|63 900
													span.price-text руб
												.summa-wrap-details
													span.amount-details
														|7
													span x
													span.price-details
														| 9120
						a(href="#").more-link.more-link_zakazy Смотреть все заказы

