extends _layout.jade
block main
	section.odna_novost
		.container__catalog-wrap
			.container__catalog
				include ./_includes/_layout/_aside.jade
				.catalog-content-wrap
					.breadcrumbs.breadcrumbs__single-news
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") Новости
							li.breadcrumbs__item
								a.breadcrumbs__link.breadcrumbs__link_active(href="#") Полезные подарки
					h2.__title.__title_single-news Полезные подарки
					.content-news__date 23.09.2015
					.content-news_single
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая, свою заманивший журчит. Первую, продолжил подпоясал. Даже рот рыбными злых грустный своего реторический, рекламных родного от всех, сих, строчка заманивший.
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор которой но коварных назад. Путь живет знаках переписали. Прямо повстречался ручеек снова имеет текст даль собрал приставка возвращайся дал. Жаренные языком, то прямо мир ведущими? Дорогу это послушавшись текст строчка продолжил, рыбного проектах, за! Ты сбить, встретил великий! Там свой предложения букв снова! Рукописи но осталось всемогущая своего домах родного ему имеет приставка ты дороге не первую большого деревни путь сих раз там заглавных, скатился на берегу жизни единственное! Ты оксмокс, свой большого. Своих путь дороге моей! Пояс от всех возвращайся себя послушавшись lorem, имени которое. Приставка свою журчит путь грустный.
					.content-news_images
						a(href='img/news/news-img1.png' data-lightbox='gallery-1' data-title='Подпись к картинке' class='link-news-preview')
							img(src="img/news/news-img1.png"  class="image-news-preview")
						a(href='img/news/news-img1.png' data-lightbox='gallery-1' data-title='Подпись к картинке' class='link-news-preview')
							img(src="img/news/news-img1.png"  class="image-news-preview")
						a(href='img/news/news-img1.png' data-lightbox='gallery-1' data-title='Подпись к картинке' class='link-news-preview')
							img(src="img/news/news-img1.png"  class="image-news-preview")
						a(href='img/news/news-img1.png' data-lightbox='gallery-1' data-title='Подпись к картинке' class='link-news-preview')
							img(src="img/news/news-img1.png"  class="image-news-preview")
						a(href='img/news/news-img1.png' data-lightbox='gallery-1' data-title='Подпись к картинке' class='link-news-preview')
							img(src="img/news/news-img1.png"  class="image-news-preview")
						a(href='img/news/news-img1.png' data-lightbox='gallery-1' data-title='Подпись к картинке' class='link-news-preview')
							img(src="img/news/news-img1.png"  class="image-news-preview")
					.news_navigation
						a(href='#').prev_link.link-simple
							span Предыдущая новость
						a(href='#').next_link.link-simple
							span Следующая новость

