extends _layout.jade
block main
	section.payment__delivery
		.container__catalog-wrap
			.container__catalog
				//- akordion
				include ./_includes/_layout/_aside.jade
				.catalog-content-wrap
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") Главная
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#") О компании	
							li.breadcrumbs__item
								a.breadcrumbs__link.breadcrumbs__link_active(href="#") Оплата и доставка
					include ./_includes/_layout/_about_company_nav.jade
					.info__company-wrap
						h1.company-title
							| Оплата и доставка
						p.__company-dscr
							| Вы можете оплатить покупку следующими способами:
							ul.payment__list
								li.payment__item.payment__item--cash
									| наличными;
								li.payment__item.payment__item--creditcard
									| банковской картой;
								li.payment__item.payment__item--transfer
									| банковским переводом по счету.
							h3.delivery__info
								| Доставка 
							.delivery-dscr
								p.__company-dscr.__company-dscr-mdash
									| Заказанные оптом бумага и канцтовары будут доставлены
									| Вам бесплатно в пределах Санкт-Петербурга и ближайших
									| пригородов, если сумма Вашего заказа превышает 6000 рублей.
								p.__company-dscr.__company-dscr-mdash
									| При самовывозе бумаги и канцтоваров 
									| действует дополнительная скидка 1%. 
								p.__company-dscr.__company-dscr-mdash
									| В том случае, если Ваш заказ меньше указанной суммы, 
									| либо Вы находитесь на значительном удалении от Санкт - Петербурга, 
									| мы также готовы доставить Вам товар нашим транспортом за 
									| дополнительную плату. Мы производим отгрузку бумаги и 
									| канелярских товаров оптом в любые точки Российской Федерации.
							h3.delivery__info
								| Самовывоз заказов
							p.__company-dscr
								| 198099, Санкт-Петербург, Кировский район, 
								| ул. Оборонная, д.10
							#map_canvas
