extends _layout.jade
block main
	section.zakaz-podtverd
		.container
			.breadcrumbs.breadcrumbs__single-news
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Корзина
						li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") Оформление заказа
			h2.__title.__title_zakaz-podtverd Оформление заказа
			.podtverd
				h3.podtverd__title Подтверждение
				.podtverd__wrap
					ul.zakaz-info__list
						li.zakaz-info__item
							.definition Ваше имя
							.value Александр
						li.zakaz-info__item
							.definition Телефон
							.value +7 (812) 236-56-44
						li.zakaz-info__item
							.definition Email
							.value info@piramida.ru
						li.zakaz-info__item
							.definition Способ доставки
							.value Заберу самостоятельно:
								span.value__details 198099, Санкт-Петербург, Кировский район, ул. Оборонная, д.10
						li.zakaz-info__item
							.definition Способ оплаты
							.value Наличными при получении
			.zakaz__wrap
				.zakaz__title Заказ
				.wrap-zakaz-print
					.zakaz__quick-info Всего
						span.zakaz-amount 12
						|на сумму
						span.zakaz-summa 2 950
							span.price-text руб
					a(href="#").print-button Распечатать заказ
				.table-wrap
					table.responsive.zakaz-table
						tr.caption
							th Наменование
							th Цена
							th Количество (шт)
							th Количество (уп)
							th Сума
						tr
							td
								a(href="#").name-product Настольный географический глобус MINI (ARIES)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1 599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
						tr
							td
								a(href="#").name-product Настольный географический глобус COLOMBO (розовый)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
						tr
							td
								a(href="#").name-product Настольный географический глобус MINI (ARIES)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
						tr
							td
								a(href="#").name-product Настольный географический глобус COLOMBO (розовый)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
						tr
							td
								a(href="#").name-product Настольный географический глобус MINI (ARIES)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
						tr
							td
								a(href="#").name-product Настольный географический глобус COLOMBO (розовый)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
						tr
							td
								a(href="#").name-product Настольный географический глобус MINI (ARIES)
								.articul Арт.
									span.articul__num 123456
							td
								span.price
									|1599
								span.price-text руб/шт
							td
								span.amount-sht
									|40
							td
								span.amount-up
									|10
							td
								span.summa-item
									|63 900
								span.price-text руб
				.in-total Итого
					span.zakaz-summa 2 950
						span.price-text руб
				.zakaz__btn-group
					a(href="#").btn-zakaz.btn-confirm Подтверждаю
					a(href="#").btn-zakaz.btn-cancel Назад
