.about__company-nav
	ul.about__company-list
		li.about__company-item
			a.about__company-link.about__company-link--main(href="about_company.html") О компании
		li.about__company-item
			a.about__company-link.about__company-link--active(href="payment_delivery.html") Оплата и доставка
		li.about__company-item
			a.about__company-link(href="feedbacks.html") Наши клиенты и отзывы
		li.about__company-item
			a.about__company-link(href="vacancy.html") Вакансии