.log-in-wrap
	h2.__title Вход
	a(href='registration.html').link-simple Регистрация
	form.log-in-form
		label.log-in-form__label
			span Электронная почта
			input.input-main-theme(type='text' name='user-name')
		label.log-in-form__label
			span Пароль
			input.input-main-theme(type='text' name='user-password')
		.button-wrap
			button.button-main-theme(type='submit') Войти
			a(href='#').link-simple Забыли пароль?
	.log-remotely
		.reg-titles Войти как пользователь
button#up-button
footer.footer
		.container
			.footer__nav-wrap
					ul.footer__nav-list
						li.footer__nav-item
							a.footer__nav-link(href="catalog.html") Каталог продукции
						li.footer__nav-item
							a.footer__nav-link(href="payment_delivery.html") Оплата и доставка
						li.footer__nav-item
							a.footer__nav-link(href="about_company.html") О компании
						li.footer__nav-item
							a.footer__nav-link(href="contacts.html") Контакты
			.footer__logo-contacts
				.footer__logo-contacts-wrap
					.footer__logo-wrap
						a.logo(href="#")
							img.footer__logo(src="img/logo.svg", alt="")
					.footer__contacts-wrap.contact-list
						a(href="#").contact-list__addr
							| Санкт-Петербург, Оборонная ул., д. 10
						.contact-list__phone-wrap
							a(href="tel:+78123808590").contact-list__phone
								| (812) 380-85-90
							a(href="tel:+78123808592").contact-list__phone_shorter
								| 380-85-92
							a(href="tel:+78123808593").contact-list__phone_shorter
								| 380-85-93
							a(href="tel:+78123808594").contact-list__phone_shorter
								| 380-85-94
							a(href="tel:+78123808595").contact-list__phone_shorter
								| 380-85-95
						.contact-list__work-time
								| ПН-ПТ - с 8:30 до 18:00 без обеда
			.footer__nav-soc
				.footer_soc-wrap
					.soc__yt
						span.soc__yt-title
							| Мы в соцсетях:
						ul.social__list
							li.social__item
								a.social__link(href="#")
									img(src="img/icons/youtube_footer.svg", alt="")
					.soc__like
						span.soc__like-title
							| Мне нравится:
						.pluso(data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,facebook,odnoklassniki,twitter")
			a(href="#").producted__by
				img.producted__by-img(src="img/icons/itloft_logo.svg", alt="")